[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.1.4"
django-filter = "==2.0.0"
django-guardian = "==1.4.9"
reportlab = "==3.5.12"
django-crontab = "==0.7.1"


[dev-packages]

pylint = "*"
autopep8 = "*"
sphinx = "*"
rope = "*"
safety = "*"
black = "*"


[requires]

python_version = "3"


[pipenv]

allow_prereleases = true
