[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
django = "*"
django-filter = "*"
django-guardian = "*"
reportlab = "*"
django-crontab = "*"


[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
safety = "*"


[requires]
python_version = "3"
